
body{
    background-color: rgb(255, 255, 255);
}
.navbar{
    background-color: rgb(46, 45, 45) !important;

}

.tex{
    color: white;
}
.cs{
    color: rgb(232, 12, 56);
}
.nav-item a:hover{
color: rgb(255, 0, 51) !important;
} 
svg{
    color: white !important;
    width: 40px;
    height: 40px;
    border: none !important;
}
 